@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #0e577c;
  --secondary-color: #5a4025;
  --accent1-color: hsl(61, 84%, 71%);
  --accent2-color: #a6f3b0;

  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Nunito", sans-serif;

  --nav-background-color: var(--primary-color);
  --nav-link-color: var(--accent2-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: var(--paragraph-font);
}

header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  padding: 30px;
}

header img {
  width: 400px;
  height: auto;
  justify-self: center;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  display: inline;
  background-color: var(--accent2-color);
  padding: 8px 18px;
  border: 1px solid var(--accent1-color);
  transition: 0.8s;
  margin: 0;
}

header nav ul li:hover {
  background-color: var(--secondary-color);
  border: none;
  color: var(--accent2-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  position: relative;
  background-image: url(../images/rafting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.hero h1,
.hero article {
  position: absolute;
}

.hero h1 {
  left: 0;
  right: 0;
  top: 18px;
  margin: auto;
  width: fit-content;
  height: fit-content;
 
}

.hero article {
  background-color: rgba(177, 161, 236, 0.75);
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: fit-content;
  padding: 12px;
}

.hero article img {
  float: right;
  width: 200px;
}

section,
footer {
  max-width: 80vw;
  margin: 0 auto;
}

section {
  padding: 18px 0;
  text-align: center;
}

section h2,
section p {
  margin-bottom: 18px;
}

footer {
  display: grid;
  grid-template: 1fr / 90% 1fr 1fr 1fr;
  border-top: 3px solid var(--accent1-color);
  padding: 18px 0;
}

footer p {
  grid-column: 1/2;
  text-align: center;
}

section.history {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;

}

section.history h2 {
  grid-column: 1/5;
  
}
section.history img {
  width: 300px;
}

section.history img,
section.history p {
  align-self: center;
  justify-self: center;
  text-align: start;
}

section.adventures {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section.adventures .adventures_pics {
  display: flex;
  justify-content: space-between;
}

section.adventures .adventures_pics figure img {
  width: 200px;
}

#contact-page {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}

#contact-page .information-column h2 {
  margin-bottom: 24px;
}

#contact-page .information-column iframe {
  width: 100%;
  margin-bottom: 12px;
}
#contact-page .form-column label,
#contact-page .form-column legend,
#contact-page .form-column h2 {
  color: var(--accent2-color);
}
#contact-page .information-column address {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#contact-page .information-column address .info-header {
  font-family: var(--heading-font);
  font-weight: bold;
}

#contact-page .form-column {
  background-color: var(--primary-color);
  padding: 32px 24px;
  border-radius: 20px;
  -webkit-box-shadow: -5px 7px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 7px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 7px 15px 0px rgba(0, 0, 0, 0.75);
  width: 600px;
}


#contact-page .form-column legend {
  font-size: 24px;
}

#contact-page .form-column h2 {
  margin-bottom: 12px;
}

#contact-page .form-column fieldset {
  padding: 24px 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

#contact-page .form-column textarea {
  width: 100%;
}

#contact-page .form-column input {
  height: 30px;
}

#purpose div,
#checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: #1353a6;
  display:flex;
  justify-content: center;
}
#contact-page .form-column div button {
  background-color: var(--accent2-color);
  width: 100%;
  border: none;
  padding: 12px 0;
  margin-top: 24px;
  border-radius: 8px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease all 0.5s;
}

#contact-page .form-column div button:hover {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
}
#employees .image-container figure img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#employees h3 {
  font-size: 32px;
}

#employees .image-container {
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
}

#employees .image-container figure {
  width: 33%;
}

.purpose_offer {
  background-color:#e8eec9;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  padding: 10px;
}
.action {
  display: grid;
  justify-content: center;
  padding: 30px;
}

.trip {
  background-color:#9ee6f4;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  padding: 10px;
}
.button {
  width: 90%;
  font-size: 1.1rem;
  border: none;
  padding: 0.76rem;
  background-color: #264653;
  color: aliceblue;
  border-radius: .6rem;
  justify-content: center;
  display: flex;
  text-decoration: none;
}
table, th, td {
  border: 1px solid;
  padding: 20px;
}

table {
  width: 100%;
  padding: 20px;
}


.checkout {
  width: 97%; 
}

.contact_us_button {
  width: 100%;
}

.wireframe {
  width: 10%;
  height: 70%;
}

.purpose_offer {
  background-color:#e8eec9;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  padding: 10px;

}

label {
  text-align: left;
  padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

button {
  margin: 1rem;
  background-color:#53ee6d;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color:#121111;
}


fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  background-color:#d8e7ec;
  padding: 1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}
