@import url('https://fonts.google.com/specimen/Tilt+Warp');

:root {
    --primary-color: #0077B6;
    --secondary-color: #004E98;
    --accent1-color: #CCE5FF;
    --accent2-color: #FFA07A;
  
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
  
    --nav-background-color: #fff;
    --nav-link-color: #004E98;
    --nav-hover-link-color: #0077B6;
    --nav-hover-background-color: #CCE5FF;
}

body {
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}  

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
